@import url('https://fonts.google.com/specimen/Outfit');

:root {
--white: hsl(0, 0%, 100%);
--lightGray: hsl(212, 45%, 89%);
--grayishBlue: hsl(220, 15%, 55%);
--darkBlue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
    background-color: var(--lightGray);
    font-family: 'Outfit', 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 300px;
    padding: 1rem;
    border-radius: 15px;
    gap: 1.5rem;
    align-items: center;
}

img {
    border-radius: 10px;
    height: 15rem;
    width: 100%;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
    padding:  0 15px 0 15px;
    text-align: center;
    margin: 0;
}

p {
    display: inline-block;
    padding: 0 15px 0 15px;
    text-align: center;
    color: var(--grayishBlue);
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

